<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary mx-2" asp-controller="Employee" asp-action="Upsert">Add Employee</a>

        </div>
    </div>
    <br /><br />
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>EmployeeId</th>
                <th>Name</th>
                <th>Description</th>
                <th>Salary</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>
@section Scripts{
    <script src="~/js/employee.js"></script>
    
}